header {
    border-bottom: 2px solid black;
    padding: 40px;
}

header>h1 {
    display: inline;
    text-transform: uppercase;
    padding-right: 50px;
}

nav{
    display: inline-block;
    padding: 5px;
    margin: 5px;
}
