{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forum Posts</title>
    <link rel="stylesheet" href="{% static '/styles.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
</head>
<body>
    {% include 'nav.html' %}
    <div class="container">
        <h1 class="forum-header">POSTS</h1>
        <div class="posts">
            {% for post in posts %}
                <div class="post">
                    <a href="{% url 'post' post.id %}"><h2>{{ post.title|capfirst }}</h2></a>
                    <p class="content">
                        {% if not post.content %}
                            {% lorem 3p %}
                        {% else %}
                            {{ post.content|truncatewords:5 }}
                        {% endif %}
                    </p>
                    <div class="post-meta">
                        <span class="author">{{ post.author.username }} - {{ post.created_at|date:"d-M-Y" }}</span>
                    </div>
                </div>
            {% empty %}
                <h2>No Posts</h2>
            {% endfor %}
        </div>
    </div>
    
</body>
    <script src='https://unpkg.com/akar-icons-fonts'></script>
</html>